APScheduler
pytest
pytest-cov
requests
flask
Flask-Cors
Flask-SQLAlchemy
openai
tiktoken
beautifulsoup4
youtube-transcript-api
serpapi
pydub
google-api-python-client
python-docx
Markdown2docx
pypandoc
cryptography
Pillow